@font-face {
    font-family: 'Overwatch';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/koverwatch.ttf');
}

@font-face {
    font-family: 'Bigno';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/bignoodletoo.ttf');
}

body {
    margin: 0;
    font-family: 'Overwatch';
}